<a href="https://colab.research.google.com/github/Av419/Top-100-codes-in-Python/blob/main/top_100_codes_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## To check a number is +ve or -ve

In [ ]:
a= int(input())
if a>0:
  print("+ve number")
else:
  print("-ve number")

-3
-ve number

## to check a number is odd or even

In [ ]:
a = int(input())
if a%2==0:
  print("even ")
else:
  print("odd")

5
odd

## Sum of first n natural numbers

In [ ]:
n= int(input())
sum = 0
for i in range(1,n+1):
  sum=sum+i
  print(sum)

8
1
3
6
10
15
21
28
36

In [ ]:
sum=0
for i in range(2,6):
  sum=sum+i
  print(sum,end=" ")

2 5 9 14

## Greatest of 2 numbers

In [ ]:
a=int(input())
b=int(input())
if a>b:
  print(a)
else:
  print(b)

20
40
40

## Greatest of 3 numbers

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

5
7
9
9

## Leap Year code

In [ ]:
year = int(input())
if (year % 400==0) or ( year%4==0 and year %100 !=0):
  print("leap year ")
else:
    print("not leap year")

2020
leap year

## Prime Number

In [ ]:
num = int(input())
flag = 0
for i in range(2,num):
  if num%i==0:
    flag=1
    break
if flag == 0:
  print("prime number")
else:
  print("not prime")

5
prime number

In [ ]:
word = input()
d = int(input())
temp = word[d:] + word[0:d]
print(temp)

lloheereth
2
oheerethll

## First N natural numbers

In [ ]:
n = int(input())
for n in range(1,n+1):
  print(n,end=" ")

10
1 2 3 4 5 6 7 8 9 10

## Voting System

In [ ]:
age = int(input())
if age >= 18:
  print("Vote")
else:
  print("not eligible")

15
not eligible

## Postive/Negative number

In [ ]:
num = int(input())
if num >0:
  print("Positive")
elif num == 0:
  print("Zero")
else:
  print("Negative")

89
Positive

## Sum of Digits of a number

In [ ]:
n = 3240
sum = 0
while n>0:
  i = n%10
  n = n//10
  sum = sum + i
print(sum)

9

## Reverse of a Number

In [ ]:
n = 123
while n>0:
  i = n%10
  n = n//10
  print(i,end = "")

321

## Count frequency of a digit in a number

In [ ]:
num = int(input())
count = 0
while num>0:
  i = num%10
  if i==5:
    count = count+1
  num = num//10
print(count)

55555
5

## printing cube root of a number

In [ ]:
a = 27
print(a**(1/3))

3.0

## printing table of a given number

In [ ]:
a = 2
for i in range(1,11):
  prod = a*i
  print("2 X {} = {}".format(i,prod))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

## printing power of a number program without using in-built function

In [ ]:
a = 2
b = 3
result = 1
i = 1
while i<=b:
  result = result * a
  i = i+1
print(result)

8

In [ ]:
for i in range(1,11):
  if i%5==0:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:

for i in range(5):
  for j in range(i+1):
    print(1,end = " ")
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
for i in range(5):
  for j in range(1,i+2):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=28
i=2
if n%i==0:
  print(i)

2

In [ ]:

  n=28
  div = 0
  for i in range(1,n+1):
    if n%i==0:
      div = div+i
    else:
      continue
  if div==n:
    print("true")
  else:
    print("false")

false

In [ ]:
# palindrome == madam = madam
a = input()
list = list(a)
for i in range(list,-1):

madam
madam

In [ ]:
quantity,rate= map(int,input.split())
price = quantity * rate
discount = abs(20/100*price)
discounted_amount = price - discount
if quantity>100:
  print(discounted_amount)
else:
  print(price)

16000.0

## Plaindrome of a number

In [ ]:
n=121121
temp = n
rev = 0
while n>0:
  rem = n%10
  rev = (rev*10)+rem
  n=n//10

if rev==temp:
  print("Palindrome")
else:
  print("No")

Palindrome

## Prime Number

In [ ]:
n = 3
flag = 0
for i in range(2,n):
  if n%i==0:
    flag=flag+1
    break
if flag==1:
  print("composite number")
else:
    print("prime number")

prime number

## Armstrong Number
## 370 = 3^3 + 7^3 + 0^3 = 370

In [ ]:
number = 370
num = number
digit, sum = 0, 0
length = len(str(num))
for i in range(length):
  digit = int(num%10)
  num = num/10
  sum += pow(digit,length)
if sum==number:
  print("Armstrong")
else:
  print("Not Armstrong")

Armstrong

In [ ]:
number = 370
num = number
digit,sum = 0,0
length = len(str(num))
for i in range(length):
    digit = int(num%10)
    num = num//10
    sum = sum+pow(digit,length)
if sum == number:
    print("Armstrong")
else:
    print("No")

Armstrong

##Array Problem Solving
##RIGHT ROTATION OF ARRAY(Reversal Algorithm)

In [ ]:
def reverseRightAlgo(arr,i,j):
  while i<j:
    temp=arr[i]
    arr[i]=arr[j]
    arr[j]=temp
    i=i+1
    j=j-1

def printArray(arr):
  for i in range(len(arr)):
    print(arr[i],end=" ")



def main():
  n=7
  k=3
  arr=[1,2,3,4,5,6,7]
  reverseRightAlgo(arr,n-k,n-1)
  reverseRightAlgo(arr,0,n-k-1)
  reverseRightAlgo(arr,0,n-1)
  printArray(arr)

if __name__=="__main__":
  main()

5 6 7 1 2 3 4

## Left Rotation of Array

In [3]:
def reverseLeftAlgo(arr,i,j):
  while i<j:

    temp=arr[i]
    arr[i]=arr[j]
    arr[j]=temp
    i=i+1
    j=j-1

def printArray(arr):
  for i in range(len(arr)):
    print(arr[i],end=" ")
  print()




def main():
  n=7
  k=3
  arr=[1,2,3,4,5,6,7]
  reverseLeftAlgo(arr,0,k-1)
  reverseLeftAlgo(arr,k,n-1)
  reverseLeftAlgo(arr,0,n-1)
  printArray(arr)

if __name__=="__main__":
  main()

4 5 6 7 1 2 3